.area-trabalho {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.area-trabalho.container>div {
    height: 100%;
}

.title {
    margin-top: 20px;
}

.side-bar {
    height: 100%;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.521);
}

.side-bar>ul {
    list-style: none;
    padding: 0%;
}

.sidebar-item {
    height: 70px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}

.sidebar-item:hover {
    background-color: rgba(0, 0, 0, 0.555);
}

.sidebar-item-icon {
    flex: 30%;
    place-items: center;
    display: grid;
}

.sidebar-item-title {
    flex: 70%;
}