.page-title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 70px;
}

.page-title h1 {
    font-weight: bold;
}

.project-info {
    text-align: center;
}

.project-info-image {
    transition: transform .3s;
}

.project-info-image:hover {
    transform: scale(1.1);

}

.project-info-content {
    margin-bottom: 40px;
}