#navbar {
    padding: 9px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 193, 201, 0.699);
}

.me-auto {
    text-align: center;
}

#navbar-container {
    margin: 0%;
    white-space: nowrap;
    max-width: 100%;
}

.right-side {
    display: block;
    text-align: center;
}

.user-name {
    color: white;
    display: inline-block;
}

#logout-link {
    display: inline-block;
    margin-left: 10px;
    padding: 0px;
}

.auth-side {
    padding: 0px;
}