#navbar {
    padding: 4px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 193, 201, 0.699);
}


#navbar-container {
    margin: 0%;
    white-space: nowrap;
    max-width: 100%;
}